$width: 960px;
$height: 640px;
$shadow-color: #aaa;

@mixin outer-border {
  border: 0.5em solid #eee;
}

@mixin inner-border {
  border: 1px solid #ccc;
}

@mixin gradient-background {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #f8f8f8),
    color-stop(0.57, #fff)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #f8f8f8 0%,
    #fff 57%
  );
}

@mixin box-shadow {
  -webkit-box-shadow: 2px 2px 2px 2px $shadow-color;
  -moz-box-shadow: 2px 2px 2px 2px $shadow-color;
  box-shadow: 2px 2px 2px 2px $shadow-color;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Helvetica', 'Verdana';
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  text-align: justify;

}

body {
  margin: 1em;
}

#wrapper {
  width: 100%;
  display: table;
  vertical-align: middle;

  #container {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    #box {
      width: $width;
      margin-left: auto;
      margin-right: auto;
      @include outer-border;
      @include gradient-background;
      @include box-shadow;

      #content {
        padding: 13px;
        @include inner-border;
      }
    }
  }
}

h1, h2 {
  margin: 0;
}

h3 {
  margin: 0.5em;
}

#header {
  margin-bottom: 1em;

  h1 {
    color: #222;
    text-shadow: 1px 1px 1px $shadow-color;
    filter: dropshadow(color=$shadow-color, offx=1, offy=1);
  }

  h2 {
    color: #777;
  }
}

#description, #gallery {
  clear: both;
  padding-top: 0.5em;
}

#gallery span {
  clear: both;
  display: block;
}

.image_wrapper {
  width: 221px;
  height: 172px;
  float: left;
  padding: 6px;
  text-align: center;
}

img {
  padding: 0.5em;
  background: #fff;
  @include inner-border;
}

a:link, a:visited {
  color: #0054B4;
  text-decoration: none;
}

a:hover, a:active {
  color: #555;
}
