!!!5
%html
  %head
    %title schody-walkuski.pl - przepiękne schody i drzwi z drewna
    %meta{ :'http-equiv' => 'Content-Type', :content =>'text/html; charset=UTF-8' }/
    %meta{ :name => 'google-site-verification', :content => 'eBsWf0fHKjRMKPFZhBbDjrbpRkCwnNXirkwB_s0YWwM' }/
    %meta{ :name => 'description', :content => 'schody-walkuski.pl - przepiękne schody i drzwi z drewna' }/
    %link{ :rel => 'stylesheet', :href => 'styles/jquery.tipsy.css', :type => 'text/css' }/
    %link{ :rel => 'stylesheet', :href => 'styles/jquery.fancybox.css', :type => 'text/css' }/
    %link{ :rel => 'stylesheet', :href => 'styles/application.css', :type => 'text/css' }/
    %script{ :type => 'text/javascript', :src => 'js/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => 'js/jquery.tipsy.js' }
    %script{ :type => 'text/javascript', :src => 'js/jquery.easing.js' }
    %script{ :type => 'text/javascript', :src => 'js/jquery.mousewheel.js' }
    %script{ :type => 'text/javascript', :src => 'js/jquery.fancybox.js' }
    %script{ :type => 'text/javascript', :src => 'js/application.js' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23608343-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #wrapper
      #container
        #box
          #content
            #header
              %h1 Schody Wałkuski
              %p
                Zbigniew Wałkuski, Konarzyce, Łomżyńska 36, 18-400 Łomża, +48 505 045 899, kontakt (at) schody-walkuski.pl
            #gallery
              - (1..15).each do |number|
                .image_wrapper
                  %a{ :class => :fancybox, :rel => :gallery, :href => "images/#{number}.jpg" }
                    %img{ :src => "images/#{number}_thumb.jpg", :border => 0 }
              %span
